<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to our awesome video player</h1>
    <span class="video_player">
        <video id='video' width="320" height="240" controls>
        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
    </span>
    <span class="typing_test">
        <button id="openModalButton">Open Modal</button>
        <div id="typingTestModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>EMERGENCY TYPING TEST</h2>
                <span>In order to resume the video, you must complete the typing test with 100% accuracy</span>
                <p id="typingText">The quick brown fox jumps over the lazy dog.</p>
                <input type="text" id="typing-input" placeholder="Type here..." />
                <div id="WPM"></div>
                <div id="feedback"></div>
            </div>
        </div>
    </span>
    <script src="test_script.js"></script>
</body>

</html>