<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <span class="video_player">
        <video id='video' width="320" height="240" controls>
        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
    </span>
    <span class="typing_test">
        <button id="myBtn">Open Modal</button>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Some text in the Modal..</p>
                <input type="text" id="userInput">
            </div>
        </div>
    </span>
    <script src="main.js"></script>
</body>

</html>